gradoop-flink/src/main/resources/data/csv/csv_format.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.gradoop.org/flink/io/impl/csv/pojo"
            xmlns:tns="http://www.gradoop.org/flink/io/impl/csv/pojo"
            targetNamespace="http://www.gradoop.org/flink/io/impl/csv/pojo"
            elementFormDefault="qualified">

    <!-- datasource attributes -->
    <xsd:attributeGroup name="datasourceattributes">
        <xsd:attribute name="name" type="xsd:string"/>
    </xsd:attributeGroup>
    <!-- domain attributes -->
    <xsd:attributeGroup name="domainattributes">
        <xsd:attribute name="name" type="xsd:string"/>
    </xsd:attributeGroup>
    <!-- csv attributes -->
    <xsd:attributeGroup name="csvattributes">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="type" type="xsd:string"/>
        <xsd:attribute name="charset" type="xsd:string"/>
        <xsd:attribute name="separator" type="xsd:string"/>
    </xsd:attributeGroup>
    <!-- collumntype attributes -->
    <xsd:attributeGroup name="collumnattributes">
        <xsd:attribute name="id" type="xsd:long"/>
        <xsd:attribute name="pos" type="xsd:long"/>
        <xsd:attribute name="type" type="typesEnum"/>
    </xsd:attributeGroup>
    <!-- property attributes -->
    <xsd:attributeGroup name="propertyattributes">
        <xsd:attribute name="column_id" type="xsd:int"/>
        <xsd:attribute name="name" type="xsd:string"/>
    </xsd:attributeGroup>
    <!-- label attributes -->
    <xsd:attributeGroup name="labelattributes">
        <xsd:attribute name="separator" type="xsd:string" use="optional"/>
    </xsd:attributeGroup>
    <!-- static attributes -->
    <xsd:attributeGroup name="staticattributes">
        <xsd:attribute name="name" type="xsd:string"/>
    </xsd:attributeGroup>
    <!-- ref attributes -->
    <xsd:attributeGroup name="refattributes">
        <xsd:attribute name="column_id" type="xsd:long"/>
    </xsd:attributeGroup>
    <!-- key attributes -->
    <xsd:attributeGroup name="keyattributes">
        <xsd:attribute name="class" type="xsd:string" use="required"/>
    </xsd:attributeGroup>
    <!-- reference attributes -->
    <xsd:attributeGroup name="referenceattributes">
        <xsd:attribute name="datasource_name" type="xsd:string" use="optional"/>
        <xsd:attribute name="domain_name" type="xsd:string" use="optional"/>
    </xsd:attributeGroup>

    <xsd:simpleType name="typesEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Integer"/>
            <xsd:enumeration value="Long"/>
            <xsd:enumeration value="Float"/>
            <xsd:enumeration value="Double"/>
            <xsd:enumeration value="String"/>
            <xsd:enumeration value="Boolean"/>
            <!-- Date as valid data type? Parsing may be complex due to
            different formats.
            <xsd:enumeration value="Date"/> -->
        </xsd:restriction>
    </xsd:simpleType>


    <!-- complex (abstract) types with their elements -->

    <xsd:element name="static">
        <xsd:complexType>
            <xsd:attributeGroup ref="staticattributes"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="ref">
        <xsd:complexType>
            <xsd:attributeGroup ref="refattributes"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="staticorref">
        <xsd:choice>
            <xsd:sequence>
                <xsd:element ref="static" minOccurs="1" maxOccurs="1"/>
                <xsd:element ref="ref" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:sequence>
                <xsd:element ref="ref" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="staticorreference">
        <xsd:choice>
            <xsd:sequence>
                <xsd:element ref="static" minOccurs="1" maxOccurs="1"/>
                <xsd:element ref="ref" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="reference" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:sequence>
                <xsd:choice minOccurs="1" maxOccurs="unbounded">
                    <xsd:element ref="ref"/>
                    <xsd:element ref="reference"/>
                </xsd:choice>
            </xsd:sequence>
        </xsd:choice>
    </xsd:complexType>

    <xsd:element name="reference">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="key"/>
                <xsd:element ref="properties" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
            <!--<xsd:attributeGroup ref="referenceattributes"/>-->
            <xsd:attribute name="domain_name"/>
            <xsd:attribute name="datasource_name"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="objectreferences">
        <xsd:sequence>
            <xsd:choice minOccurs="1" maxOccurs="unbounded">
                <xsd:element ref="static"/>
                <xsd:element ref="ref"/>
                <xsd:element ref="reference"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="element">
        <xsd:sequence>
            <xsd:element ref="key"/>
            <xsd:element ref="label" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="properties" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="graphelement">
        <xsd:complexContent>
            <xsd:extension base="element">
                <xsd:sequence>
                    <xsd:element ref="graphs"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <!-- complex elements -->

    <xsd:element name="property">
        <xsd:complexType>
            <xsd:attributeGroup ref="propertyattributes"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="properties">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="property" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="graphs">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="objectreferences"/>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="target">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="staticorreference"/>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="source">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="staticorreference"/>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="edges">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="vertexedge" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="key">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="staticorref">
                    <xsd:attributeGroup ref="keyattributes"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="label">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="staticorreference">
                    <xsd:attributeGroup ref="labelattributes"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="edge">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="graphelement">
                    <xsd:sequence>
                        <xsd:element ref="source"/>
                        <xsd:element ref="target"/>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="vertexedge">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="graphelement">
                    <xsd:sequence>
                        <xsd:element ref="target"/>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="vertex">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="graphelement">
                    <xsd:sequence>
                        <xsd:element ref="edges" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="graphhead">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="element"/>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="column">
        <xsd:complexType>
            <xsd:attributeGroup ref="collumnattributes"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="columns">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="column" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="csv">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="columns"/>
                <xsd:choice>
                    <xsd:element ref="graphhead"/>
                    <xsd:element ref="vertex"/>
                    <xsd:element ref="edge"/>
                </xsd:choice>
            </xsd:sequence>
            <xsd:attributeGroup ref="csvattributes"/>
        </xsd:complexType>

        <xsd:key name="columnkey">
            <xsd:selector xpath="tns:columns/tns:column"/>
            <xsd:field xpath="@id"/>
        </xsd:key>

        <xsd:keyref name="columnkeyref" refer="columnkey">
            <xsd:selector xpath=".//tns:ref"/>
            <xsd:field xpath="@column_id"/>
        </xsd:keyref>
    </xsd:element>

    <xsd:element name="domain">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="csv" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attributeGroup ref="domainattributes"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="datasource">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="domain" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attributeGroup ref="datasourceattributes"/>
        </xsd:complexType>

    </xsd:element>

</xsd:schema>

