gradoop-flink/src/main/java/org/gradoop/io/impl/csv/format/bsp_meta_generated.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MetaData" type="MetaDataType"/>
  <xs:complexType name="columnType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="typ" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="csvFileType">
    <xs:sequence>
      <xs:element name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="graph.csv"/>
            <xs:enumeration value="book.csv"/>
            <xs:enumeration value="author.csv"/>
            <xs:enumeration value="writes.csv"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="charset"/>
      <xs:element type="xs:string" name="seperator"/>
      <xs:element name="type">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="graph"/>
            <xs:enumeration value="vertex"/>
            <xs:enumeration value="edge"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="label">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:element name="field" maxOccurs="unbounded" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="0"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element type="xs:string" name="specified" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="containment">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:element name="graphid" maxOccurs="unbounded" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute type="xs:string" name="graphid" use="optional"/>
        </xs:complexType>
      </xs:element>
      <xs:element type="keyType" name="key"/>
      <xs:element type="columnsType" name="columns"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="idType">
    <xs:sequence>
      <xs:element name="field" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="0"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MetaDataType">
    <xs:sequence>
      <xs:element type="csvFileType" name="csvFile" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="labelType">
    <xs:sequence>
      <xs:element name="field" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="specified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="containmentType" mixed="true">
    <xs:sequence>
      <xs:element name="graphid" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="graphid" use="optional"/>
  </xs:complexType>
  <xs:complexType name="keyType">
    <xs:sequence>
      <xs:element type="idType" name="id"/>
      <xs:element name="sys">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="AllSystems"/>
            <xs:enumeration value="MyBooks"/>
            <xs:enumeration value="AllAuthors"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="columnsType">
    <xs:sequence>
      <xs:element type="columnType" name="column" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>