gradoop-flink/src/main/java/org/gradoop/io/impl/csv/format/csv_format.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:simpleType name="MetaData">
        <xs:list itemType="csvFile"/>
    </xs:simpleType>

    <xs:simpleType name="csvFile">
        <xs:string name="name"/>
        <xs:string name="charset"/>
        <xs:string name="seperator"/>
        <xs:string name="type"/>
        <xs:list itemType="label"/>
        <!-- containment, frage wlecher DT für graph ids?-->
        <xs:list itemType="xs:int"/>
        <xs:list itemType="key"/>
        <xs:list itemType="columns"/>
    </xs:simpleType>

    <xs:simpleType name="label">
        <xs:restriction base="xs:string"/>
        <xs:list itemType="xs:int"/>
    </xs:simpleType>

    <xs:simpleType name="key">

    </xs:simpleType>

    <xs:simpleType name="columns">
    </xs:simpleType>


</xs:schema>

<MetaData>
    <csvFile>
        <name>graph.csv</name>
        <charset>utf8</charset>
        <seperator>|</seperator>
        <type>graph</type>
        <label>Graph</label>
        <containment>
        </containment>
        <key>
            <id>
                <field>0</field>
            </id>
            <sys>AllSystems</sys>
        </key>
        <columns>
            <column name="id" typ="Long"/>
            <column name="nodeCount" typ="Int"/>
        </columns>
    </csvFile>
    <csvFile>
        <name>book.csv</name>
        <charset>utf8</charset>
        <seperator>|</seperator>
        <type>vertex</type>
        <label>
            <field>1</field>
            <field>2</field>
        </label>
        <containment>
            <graphid>1</graphid>
        </containment>
        <key>
            <id>
                <field>0</field>
            </id>
            <sys>MyBooks</sys>
        </key>
        <columns>
            <column name="isbn" typ="String"/>
            <column name="author" typ="String"/>
            <column name="title" typ="String"/>
        </columns>
    </csvFile>
    <csvFile>
        <name>author.csv</name>
        <charset>utf8</charset>
        <seperator>|</seperator>
        <type>vertex</type>
        <label>
            <field>0</field>
        </label>
        <containment>
            <graphid>1</graphid>
            <graphid>2</graphid>
        </containment>
        <key>
            <id>
                <field>0</field>
                <field>3</field>
            </id>
            <sys>AllAuthors</sys>
        </key>
        <columns>
            <column name="name" typ="String"/>
            <column name="age" typ="String"/>
            <column name="phone" typ="String"/>
            <column name="zip" typ="String"/>
        </columns>
    </csvFile>
    <csvFile>
        <name>writes.csv</name>
        <charset>utf8</charset>
        <seperator>|</seperator>
        <type>edge</type>
        <label>writes
            <field>3</field>
        </label>
        <containment graphid="1" />
        <key>
            <id>
                <field>1</field>
                <field>2</field>
            </id>
            <sys>AllAuthors</sys>
        </key>
        <columns>
            <column name="date" typ="Date"/>
            <column name="sourceId" typ="Long"/>
            <column name="targetID" typ="Long"/>
            <column name="teamWork" typ="Boolean"/>
        </columns>
    </csvFile>
</MetaData>

