gradoop-flink/src/main/java/org/gradoop/io/impl/csv/format/csv_format.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="MetaData">
        <xs:sequence>
            <xs:element name="csvFile" type="csvFileType" minOccurs="1"
                        maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="csvFileType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="charset" type="xs:string"/>
            <xs:element name="seperator" type="xs:string"/>
            <xs:element name="type" type="xs:string"/>

            <xs:element name="label" type="labelType"/>

            <xs:element name="containment" type="containmentType"/>

            <xs:element name="key" type="keyType"/>

            <xs:element name="columns" type="columnsType"/>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="labelType">
        <xs:choice>
            <xs:element name="specified" type="xs:string"/>
            <xs:sequence minOccurs="0" maxOccurs="1">
                <xs:element name="field" type="xs:int"/>
            </xs:sequence>
        </xs:choice>

    </xs:complexType>
    
    <xs:complexType name="containmentType" mixed="true">
        <xs:sequence>
            <!-- containment, frage welcher DT für graph ids?-->
            <xs:element name="graphid" type="xs:anyType" minOccurs="1"
                        maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="keyType">
        <xs:sequence>
            <xs:element name="id" type="idType"/>
            <xs:element name="sys" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="idType">
        <xs:sequence>
            <xs:element name="field" type="xs:int" minOccurs="1"
                        maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="columnsType">
        <xs:sequence>
            <xs:element name="column" type="columnType" minOccurs="1"
                        maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="columnType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="typ" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>

